name: Network-Tunnel
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Tunnel
        run: |
          wget https://github.com/ginuerzh/gost/releases/download/v2.11.5/gost-linux-amd64-2.11.5.gz
          gunzip gost-linux-amd64-2.11.5.gz
          chmod +x gost-linux-amd64-2.11.5
          ./gost-linux-amd64-2.11.5 -L=admin:1234@:8080 & 
          
          sudo apt-get update && sudo apt-get install -y tmate
          tmate -S /tmp/tmate.sock new-session -d
          tmate -S /tmp/tmate.sock wait ssh
          
          echo "------------------------------------------------"
          tmate -S /tmp/tmate.sock display -p '#{tmate_web}'
          echo "------------------------------------------------"
          
          sleep 6h
